@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root{
  --pink:#FFAEB4;
  --black:#000;
  --white:#fff;
  --gray: #DDD9D9;
  --green: #768134;
  --orange: #E26B14;
  --orange-sale: #F06A26;
  --blue: #07234E;
  --brown: #B20;
  --border-radius: 10px 10px 10px 0 ;
}
body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}
html{
  font-size:  62.5%;
}
h1{
  font-size: 32px;
  margin: 0;
}
h2{
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}
h3{
  font-size: 14px;
  margin: 0;
}
h4{
  color: var(--black);
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  margin: 0;

}
a{
  text-decoration: none;
  color: var(--black);
}
.crop-text1{
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
}
.crop-text2{
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
li{
  list-style: none;
}